* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #59CBE8; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(67, 166, 191, 0.96); }

.site-content {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto; }

.d-none {
  display: none !important; }

.d-block {
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mt-1 {
  margin-top: 10px; }

.mt-2 {
  margin-top: 20px; }

.c-blue {
  color: #59CBE8; }

.quickSteps-timetable-page {
  position: relative; }
  .quickSteps-timetable-page .round-header-block {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -50px;
    right: 0;
    background: url("../images/round-hader.png") no-repeat center center;
    background-size: cover; }
    .quickSteps-timetable-page .round-header-block:after {
      content: "";
      width: 2px;
      height: 128px;
      background: #A3A3A3;
      position: absolute;
      top: -100px;
      left: calc(50% - 2px);
      z-index: -1; }
  @media (max-width: 9992px) {
    .quickSteps-timetable-page .header-block {
      padding: 0 5px; } }
  .quickSteps-timetable-page .header-block .page-title {
    font-family: "Caviar Dreams", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 150px;
    position: relative;
    z-index: 10; }
    @media (max-width: 768px) {
      .quickSteps-timetable-page .header-block .page-title {
        font-size: 40px;
        text-align: center; } }
    @media (max-width: 320px) {
      .quickSteps-timetable-page .header-block .page-title {
        font-size: 30px;
        line-height: 35px; } }
  .quickSteps-timetable-page .header-block .description-bloc {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 70px; }
    @media (max-width: 768px) {
      .quickSteps-timetable-page .header-block .description-bloc {
        font-size: 16px;
        margin-top: 30px;
        line-height: 20px;
        text-align: center; } }
  .quickSteps-timetable-page .tables-block {
    width: 100%;
    height: 87px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .quickSteps-timetable-page .tables-block {
        height: 57px; } }
    @media (max-width: 520px) {
      .quickSteps-timetable-page .tables-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 50px; } }
    .quickSteps-timetable-page .tables-block .tables-block-item {
      width: calc((100% / 12) * 6);
      height: 100%;
      background: #E8E8E8;
      color: #000;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
      font-family: "Caviar Dreams", monospace;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
      @media (max-width: 768px) {
        .quickSteps-timetable-page .tables-block .tables-block-item {
          font-size: 18px; } }
      @media (max-width: 520px) {
        .quickSteps-timetable-page .tables-block .tables-block-item {
          width: 100%; } }
      .quickSteps-timetable-page .tables-block .tables-block-item.active {
        background: #59CBE8;
        color: #fff;
        border-radius: 4px 4px 0 0; }
      .quickSteps-timetable-page .tables-block .tables-block-item:hover {
        background: rgba(67, 166, 191, 0.96);
        color: #fff; }
      .quickSteps-timetable-page .tables-block .tables-block-item:nth-of-type(1) {
        margin-right: 5px; }
  .quickSteps-timetable-page .table-body {
    width: 100%;
    height: auto;
    border: 4px solid #59CBE8;
    padding: 10px 0;
    overflow-y: auto; }
    .quickSteps-timetable-page .table-body .table-title, .quickSteps-timetable-page .table-body .table-td {
      width: 100%;
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 5px; }
      .quickSteps-timetable-page .table-body .table-title .table-item, .quickSteps-timetable-page .table-body .table-td .table-item {
        width: calc((100% / 12) * 8);
        min-width: 135px;
        min-height: 62px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #000;
        background: #E8E8E8;
        margin-right: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 520px) {
          .quickSteps-timetable-page .table-body .table-title .table-item, .quickSteps-timetable-page .table-body .table-td .table-item {
            font-size: 18px;
            min-width: 110px;
            min-height: 40px; } }
        .quickSteps-timetable-page .table-body .table-title .table-item:hover, .quickSteps-timetable-page .table-body .table-td .table-item:hover {
          background: #cbc9c9; }
        .quickSteps-timetable-page .table-body .table-title .table-item:last-child, .quickSteps-timetable-page .table-body .table-td .table-item:last-child {
          margin-right: 0; }
    .quickSteps-timetable-page .table-body .table-td {
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
      .quickSteps-timetable-page .table-body .table-td .table-item {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        overflow: hidden; }
        @media (max-width: 520px) {
          .quickSteps-timetable-page .table-body .table-td .table-item {
            font-size: 18px; } }
  .quickSteps-timetable-page .foundation__1,
  .quickSteps-timetable-page .social-events,
  .quickSteps-timetable-page .foundation__2,
  .quickSteps-timetable-page .open,
  .quickSteps-timetable-page .specialist,
  .quickSteps-timetable-page .all__levels {
    width: 100%;
    min-height: 62px;
    height: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    background: #0085CA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff; }
    @media (max-width: 520px) {
      .quickSteps-timetable-page .foundation__1,
      .quickSteps-timetable-page .social-events,
      .quickSteps-timetable-page .foundation__2,
      .quickSteps-timetable-page .open,
      .quickSteps-timetable-page .specialist,
      .quickSteps-timetable-page .all__levels {
        font-size: 18px;
        line-height: 22px;
        min-height: 40px; } }
  .quickSteps-timetable-page .social-events {
    background: #59CBE8; }
  .quickSteps-timetable-page .Foundation__2 {
    background: #000000; }
  .quickSteps-timetable-page .open {
    background: #600C88; }
  .quickSteps-timetable-page .specialist {
    background: #F5733F; }
  .quickSteps-timetable-page .all__levels {
    background: #0A99A3;
    margin-top: 5px; }
  .quickSteps-timetable-page .level-block {
    width: 100%;
    height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 62px; }
    @media (max-width: 992px) {
      .quickSteps-timetable-page .level-block {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: auto; } }
    @media (max-width: 520px) {
      .quickSteps-timetable-page .level-block {
        width: 100%;
        margin-top: 30px; } }
    .quickSteps-timetable-page .level-block div {
      width: auto;
      cursor: context-menu;
      margin-top: 5px;
      padding: 0 30px; }
      @media (max-width: 520px) {
        .quickSteps-timetable-page .level-block div {
          width: 100%;
          min-height: 40px; } }
      .quickSteps-timetable-page .level-block div:last-child {
        margin-right: 0; }
  .quickSteps-timetable-page .book-today {
    background: #59CBE8;
    border: 2px solid #000;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 135px; }
    @media (max-width: 992px) {
      .quickSteps-timetable-page .book-today {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 10px; } }
    @media (max-width: 520px) {
      .quickSteps-timetable-page .book-today {
        margin-top: 50px; } }
    .quickSteps-timetable-page .book-today .image {
      min-width: 300px;
      height: 300px;
      background: url("../images/dance.png") no-repeat center center;
      background-size: 100%;
      margin-right: 30px; }
      @media (max-width: 992px) {
        .quickSteps-timetable-page .book-today .image {
          margin-right: 0; } }
    .quickSteps-timetable-page .book-today .book-today-body h1 {
      font-family: "Caviar Dreams", monospace;
      font-style: normal;
      font-weight: bold;
      font-size: 55px;
      line-height: 70px;
      text-transform: uppercase;
      color: #FFFFFF; }
      @media (max-width: 1120px) {
        .quickSteps-timetable-page .book-today .book-today-body h1 {
          font-size: 40px;
          line-height: 40px; } }
    .quickSteps-timetable-page .book-today .book-today-body h3 {
      font-family: "Caviar Dreams", monospace;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-top: 23px; }
      @media (max-width: 1120px) {
        .quickSteps-timetable-page .book-today .book-today-body h3 {
          font-size: 18px; } }
    .quickSteps-timetable-page .book-today .book-today-body .buttons-list {
      margin-top: 55px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 992px) {
        .quickSteps-timetable-page .book-today .book-today-body .buttons-list {
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
      @media (max-width: 520px) {
        .quickSteps-timetable-page .book-today .book-today-body .buttons-list {
          margin-top: 30px; } }
      @media (max-width: 320px) {
        .quickSteps-timetable-page .book-today .book-today-body .buttons-list {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
  .quickSteps-timetable-page .round {
    width: 16px;
    height: 16px;
    border-radius: 30px;
    margin-right: 44px; }
  .quickSteps-timetable-page .yellow {
    background: #F5733F; }
  .quickSteps-timetable-page .blue {
    background: #0085CA; }
  .quickSteps-timetable-page .experience-series-block {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 70px; }
    @media (max-width: 768px) {
      .quickSteps-timetable-page .experience-series-block {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .quickSteps-timetable-page .experience-series-block .round {
      margin-right: 44px; }
    .quickSteps-timetable-page .experience-series-block .experience-series-items {
      width: 30%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 992px) {
        .quickSteps-timetable-page .experience-series-block .experience-series-items {
          width: 100%; } }
      @media (max-width: 768px) {
        .quickSteps-timetable-page .experience-series-block .experience-series-items {
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: start;
          padding: 0 10px; } }
      .quickSteps-timetable-page .experience-series-block .experience-series-items .experience-series {
        font-family: "Jost", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        text-transform: uppercase;
        color: #000; }
      .quickSteps-timetable-page .experience-series-block .experience-series-items .text {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 35px;
        text-transform: uppercase;
        color: #000; }
  .quickSteps-timetable-page .dance-title-block {
    width: 100%;
    padding: 25px 30px;
    background: #59CBE8;
    font-family: "Caviar Dreams", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 15px; }
    @media (max-width: 520px) {
      .quickSteps-timetable-page .dance-title-block {
        padding: 10px 10px;
        font-size: 18px; } }
  .quickSteps-timetable-page .experience-series-tables {
    height: auto;
    margin-bottom: 50px; }
    .quickSteps-timetable-page .experience-series-tables .e__s__b {
      width: 100%;
      overflow-y: auto; }
    .quickSteps-timetable-page .experience-series-tables .dance-item-block {
      width: 100%;
      min-width: 870px;
      height: 62px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #E8E8E8;
      margin-bottom: 5px; }
      @media (max-width: 520px) {
        .quickSteps-timetable-page .experience-series-tables .dance-item-block {
          height: 45px; } }
      .quickSteps-timetable-page .experience-series-tables .dance-item-block:hover {
        background: #cbc9c9; }
      .quickSteps-timetable-page .experience-series-tables .dance-item-block .inf-block {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .quickSteps-timetable-page .experience-series-tables .dance-item-block .inf-it-1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .quickSteps-timetable-page .experience-series-tables .dance-item-block .name-studio {
        margin-right: 20px; }
      .quickSteps-timetable-page .experience-series-tables .dance-item-block .round {
        min-width: 16px;
        margin: 0 10px; }
      .quickSteps-timetable-page .experience-series-tables .dance-item-block .time {
        width: 150px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000; }
        @media (max-width: 520px) {
          .quickSteps-timetable-page .experience-series-tables .dance-item-block .time {
            font-size: 18px;
            width: 100px; } }
      .quickSteps-timetable-page .experience-series-tables .dance-item-block .name {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000;
        min-width: 500px; }
        @media (max-width: 520px) {
          .quickSteps-timetable-page .experience-series-tables .dance-item-block .name {
            font-size: 18px; } }
      .quickSteps-timetable-page .experience-series-tables .dance-item-block .free-button {
        width: 200px;
        min-width: 180px;
        height: 62px;
        background: #59CBE8;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #fff;
        cursor: pointer; }
        .quickSteps-timetable-page .experience-series-tables .dance-item-block .free-button:hover {
          background: rgba(67, 166, 191, 0.96); }
        @media (max-width: 520px) {
          .quickSteps-timetable-page .experience-series-tables .dance-item-block .free-button {
            font-size: 18px;
            height: 45px; } }
  .quickSteps-timetable-page .btn:hover {
    -webkit-box-shadow: 4px 4px 0 0 #000;
            box-shadow: 4px 4px 0 0 #000;
    -webkit-transform: translate(-4px, -4px);
            transform: translate(-4px, -4px); }

.private-lesson {
  background: #0085CA;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  margin: 0 25px;
  cursor: pointer; }
  .private-lesson small {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75); }
  @media (max-width: 520px) {
    .private-lesson {
      font-size: 18px;
      padding: 0 10px;
      margin-right: 10px; } }
  @media (max-width: 320px) {
    .private-lesson {
      width: 100%;
      margin-right: 0; } }

.group-class {
  padding: 10px 30px;
  background: #59CBE8;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  color: #fff;
  cursor: pointer; }
  @media (max-width: 520px) {
    .group-class {
      font-size: 18px;
      padding: 0 10px; } }
  @media (max-width: 320px) {
    .group-class {
      width: 100%;
      margin-top: 10px; } }

.studios {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px; }

.show-more {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }
  .show-more span {
    font-size: 20px;
    color: #59CBE8;
    cursor: pointer; }
    .show-more span:hover {
      color: rgba(67, 166, 191, 0.96); }
